@import "../Layout/Scss/style.scss";
@import "../Resources/Public/Scss/bulma/bulma.sass";
@import "../Resources/Pages/HomePage/Scss/style.scss";
@import "../Components/Pages/HomePage/Panel/Scss/style.scss";
@import "../Components/Pages/HomePage/Loader/Styles/Scss/style.scss";
